@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");

:root {
  --primary-color: #3b6890;
  --primary-color-dark: #5681a7;
  --secondary-color: #e8f1fa;
  --text-dark: #282d31;
  --text-light: #767268;
  --extra-light: #f3f4f6;

  --max-width: 1200px;
}
.cab-service__container{
    padding: 5rem 1rem;
    max-width: var(--max-width);
    margin: auto;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
header {
    height: 70vh;
    background-image: linear-gradient(
        rgba(45, 92, 132, 0.5),
        rgba(45, 92, 132, 0.5)
      ),
      url("../../assets/landing-page/airplane.jpg");
    background-position: top top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header .cab-service__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
  }
  .cab-service__container .hidden {
    display: none;
  }
  
  .cab-service__container h2 {
    font-size: 2.5rem; /* Initial font size */
    transition: font-size 2s ease-in-out; 
  }
  
  .cab-service__container p {
    
    transition: opacity 1s ease-in-out; /* Opacity transition */
    color: #fff;
  }
  .cab-service__container.show-content p {
    opacity: 1; /* Make the paragraph visible after the opacity transition */
  }
  /* Larger font size */
  .cab-service__container.first-visit h2 {
    font-size: 3rem;
  }
  
  /* Even larger font size for subsequent visits */
  .cab-service__container.larger-font h2 {
    font-size: 4rem;
  }
  
  .cab-service__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--extra-light);
    
  }
  
  .cab-service__content h1 {
    font-size: 5rem;
    font-weight: 400;
    line-height: 5rem;
  }
  
  .cab-service__content p {
    text-align: center;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.booking-form {
  display: flex;
  flex-wrap: wrap;
 
  width: 100%;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.form-row {
  flex: 0 0 calc(20% - .5rem); /* Adjust the percentage as needed */
  
}

label {
  display: block;
  margin-bottom: 8px;
}

input, select {
  width: 70%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#name{
  width: 55%;
}
#date {
  width: 40%;
}
#tripType{
  width: 30%;
}


#passengers {
  width: 40%; /* Adjust as needed */
}

#locationPick, #locationDrop {
  width: 50%;
}

.button-group {
    display: flex;
}

.trip-button {

    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    color: black;
}

.trip-button.active {
    background-color: #4caf50;
    color: #fff;
}

/* Optional: Style for better appearance */

.cab-button:hover {
  background-color: #ddd;
}

button:hover {
  background-color: #45a049;
}
.cab-button {
  width: 25%;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  color: black;
}

.cab-button.active {
  background-color: #4caf50;
  color: #fff;
}



@media (max-width: 768px) {
  .form-row {
    flex: 0 0 calc(100% - 2rem); 
  }
#name,#date,#tripType,#passengers,#locationPick, #locationDrop{
  width: 100%;
}
  
}
.cab-service-book{
  width: 7%;
  height: 7%;
  padding: 13px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.cab-service-book:hover {
    background-color: #45a049;
}
