.hero {
  height: 50vh;
  background-image: linear-gradient(
      rgba(45, 92, 132, 0.5),
      rgba(45, 92, 132, 0.5)
    ),
    url('https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  color: white;
}

.hero-content p {
  max-width: 700px;
  font-size: 20px;
}

.vehicles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 2em;
}

.cars-container,
.bikes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: white;
}

.vehicle-card {
  width: 350px;
  height: 450px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

.vehicle-img-container {
  height: 60%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.vehicle-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.vehicle-details {
  padding: 0 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 30%;
}

.vehicle-title {
  font-size: 1.5em;
  padding: 20px 15px 0;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vehicle-capacity,
.vehicle-baggage {
  display: block;
  margin-bottom: 8px;
  font-size: 1em;
  padding: 7px;
}

.book {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #f39c12;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 10px;
  margin-right: 10px;
}

.book:hover {
  background-color: #e67e22;
}

.vehicle-type {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 4rem;
}

.vehicle-type button {
  font-size: 1.5rem;
  width: 15rem;
  background-color: #075785;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px 0;
}

.vehicle-type button:hover {
  background-color: #0e78b5;
}

.vehicle-type button:active {
  background-color: #063d5c;
}

.send-enquiry {
  color: white;
  width: 100%;
  padding: 1rem 0;
}
