@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Triangles&family=Satisfy&display=swap');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

/* Utility Classes */

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: #075785;
}

.underline {
  width: 4rem;
  height: 0.25rem;
  background-color: #0c4a6e;
  margin-bottom: 1.5rem;
}

/*--------------- Utility Classes ----------------------*/

.navbar-collapse {
  flex-grow: 0;
}

.navbar a {
  color: #0c4a6e;
}

.hero-container {
  height: 85vh;
  background-image: url('https://images.unsplash.com/photo-1564329494258-3f72215ba175?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}

.hero-banner {
  width: 70%;
  margin-inline: auto;
  text-align: center;
  color: #0c4a6e;
}
.hero-punchline {
  font-size: 2rem;
}

.mini-description {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}

.hero-img-container {
  height: 100%;
}

.hero-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#book-now {
  width: 9rem;
}

/* About and Quick Book */
#about-and-quick-book {
  padding: 0 2rem;
}

.about-title {
  color: #0c4a6e;
  padding-bottom: 1rem;
}

.about-description {
  letter-spacing: 1px;
  line-height: 2;
  color: #0367a1;
}

/* Services */
.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-title {
  margin-bottom: 0.75rem;
  color: #083149;
  font-weight: 600;
}

.service-text {
  color: black;
}

.service-description {
  padding-top: 10px;
  font-size: 18px;
  line-height: 1.8;
  color: #0c4a6e;
}

.service-image {
  width: 100%;
  height: 400px;
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Reviews */
.reviews-container {
  height: 60vh;
}

.reviews-swiper {
  width: 90%;
}

.reviews-slide {
  text-align: center;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  font-size: 18px;
  background-color: #f0f9ff;
  padding: 10px;
}

.review-text {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 15px;
  line-height: 2;
  color: #f0f9ff;
  background-color: #083149;
}

.reviewer-profile {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.picture {
  width: 120px;
  height: 120px;
  border: 10px solid #083149;
  border-radius: 50%;
  display: flex;
}

.picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.reviewer-name {
  color: #083149;
}

/* Tablet and Desktop View */
@media (min-width: 998px) {
  .hero-img-container {
    width: 50%;
    height: 100%;
  }

  /* Services section */
  .service {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .service-action {
    width: 50%;
  }

  .service-image {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  #about-and-quick-book {
    display: flex;
    align-items: center;
  }

  .about-description {
    padding-left: 5rem;
    width: 50%;
  }

  .service {
    width: 100%;
  }
}
/* Form */
.form-container {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  background: #075785;
  padding: 20px;
  margin-inline: auto;
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px white;
}
.button-container {
  display: flex;
  gap: 5px;
  border-radius: 8px; /* Add border-radius for rounded corners */
}

.booking-type-button {
  flex: 1;
  padding: 8px;
  border: none;
  background-color: #38f903;
  color: #000000;
  cursor: pointer;
  font-size: 14px; /* Adjust font size as needed */
  border-radius: 4px; /* Add border-radius for rounded corners */
}

.booking-type-button.active {
  background-color: #ffe100;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .button-container {
    display: flex;
    width: 100%;

    /* Set your desired background color */
  }

  .booking-type-button {
    flex: none;
    width: 48%;
    margin-bottom: 8px;
  }
}
.form-buttons {
  width: 10px;
  display: flex;
}
.form-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-bottom: solid 1px white;
}

.main-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n) {
  justify-content: end;
}

.user-input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.user-input-box label {
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input {
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}
.choose-taxi {
  margin-bottom: 20px;
  width: 100%;
}

.choose-taxi label {
  display: block;
  margin-bottom: 5px; /* Adjust margin as needed */
}

.choose-taxi select {
  height: 40px;
  width: 100%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

@media (max-width: 600px) {
  .container {
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .user-input-box {
    margin-bottom: 12px;
    width: 50%;
  }

  .user-input-box:nth-child(2n) {
    justify-content: space-between;
  }

  .main-user-info {
    max-height: 445px;
    overflow: auto;
  }

  .main-user-info::-webkit-scrollbar {
    width: 0;
  }
  .form-submit-btn {
    display: flex;
    justify-content: end;
  }
}

.choose-taxi select {
  height: 40px;
  width: 98%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
  margin-top: 5px;
}

.choose-taxi optgroup {
  font-weight: bold;
  color: #333;
}

.choose-taxi option {
  padding: 8px;
  font-size: 14px;
  color: #555;
}

.choose-taxi option:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.service-image-container {
  border-radius: 8px;
  height: 220px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.service:hover .service-image-container {
  transform: scale(1.1);
}
.service-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-container:hover .rental-image {
  transform: scale(1.1);
}

.description {
  margin-top: 10px;
  text-align: center;
}

.service-button {
  margin-top: 12px;
  width: 8rem;
  padding: 10px 16px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.service-button:hover {
  /* background-color: #0056b3; */
}

/* Gallery section */
.destinations-swiper {
  width: 100%;
  height: 80vh; /* Adjust this value based on your design preferences */
  overflow: hidden;
}
.destinations-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-title {
  text-align: center;
  margin: 20px 0;
  color: #0056b3;
}

.destinations-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.caption {
  position: absolute;
  top: 20px; /* Adjusted to position the caption at the top */
  left: 12%; /* Center the caption horizontally */
  transform: translateX(-50%); /* Adjust the position to the center */
  text-align: center;
  color: #fff;

  font-size: 29px;
  max-width: 80%; /* Limit the width of the caption */
  /* Add a semi-transparent background */
  padding: 10px; /* Add some padding for better visibility */
  border-radius: 8px;
  font-family: 'Rubik Doodle Triangles', system-ui;
  font-family: 'Satisfy', cursive;
}
@media (max-width: 600px) {
  .caption {
    position: absolute;
    top: 20px; /* Adjusted to position the caption at the top */
    left: 25%; /* Center the caption horizontally */
    transform: translateX(-50%); /* Adjust the position to the center */
    text-align: center;
    color: #fff;
    font-size: 19px;
    max-width: 80%; /* Limit the width of the caption */
    /* Add a semi-transparent background */
    padding: 10px; /* Add some padding for better visibility */
    border-radius: 8px;
  }
}
/* Footer section */
footer {
  position: fixed;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: #083149;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3f71ea;
}

.footer-links a:hover {
  color: #3f71ea;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
