@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Triangles&family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

/* Utility Classes */
.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}

.navbar-collapse {
  flex-grow: 0;
}

.hero-container {
  height: 85vh;
  background-image: url('https://images.unsplash.com/photo-1564329494258-3f72215ba175?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}

.hero-banner {
  width: 70%;
  margin-inline: auto;
  text-align: center;
  color: black;
}
.hero-punchline {
  font-size: 2rem;
}

.mini-description {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}

.hero-img-container {
  height: 100%;
}

.hero-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#book-now {
  width: 9rem;
}

.about-description {
  padding: 1rem 2rem;
}

/* Services */
.service-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.service {
  width: 400px;
  border: 1px solid grey;
  padding: 20px;
  height: 400px;
}

/* Reviews */
.reviews-container {
  height: 60vh;
  
}

.reviews-swiper {
  width: 90%;
  height: 60%;

}

.reviews-slide {
  text-align: center;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  font-size: 18px;
  background: #666667;
  padding: 10px;
}

.review-text {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 15px;
  line-height: 2;
  color: white;
  background-color: #75787a;
}

.reviewer-profile {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.picture {
  width: 120px;
  height: 120px;
  border: 10px solid rgb(95, 90, 90);
  border-radius: 50%;
  display: flex;
}

.picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* Tablet and Desktop View */
@media (min-width: 998px) {
  /* .hero-banner {
    width: 40%;
  } */

  .hero-img-container {
    width: 50%;
    height: 100%;
  }

  #about-and-quick-book {
    display: flex;
    gap: 2rem;
    padding: 2rem 7rem;
  }

  .about-description {
    width: 50%;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 2;
    align-self: center;
  }

  /* Services section */
  .service-container {
    flex-direction: row;
    justify-content: center;
  }
}

/* Form */
.form-container {
  width: 100%;
  max-width: 400px;
  background: #007bff;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px white;
}
.button-container {
  display: flex;
  gap: 5px;
  border-radius: 8px; /* Add border-radius for rounded corners */
}

.booking-type-button {
  flex: 1;
  padding: 8px;
  border: none;
  background-color: #38f903;
  color: #000000;
  cursor: pointer;
  font-size: 14px; /* Adjust font size as needed */
  border-radius: 4px; /* Add border-radius for rounded corners */
}

.booking-type-button.active {
  background-color: #ffe100;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .button-container {
    display: flex;
    width: 100%;

    /* Set your desired background color */
  }

  .booking-type-button {
    flex: none;
    width: 48%;
    margin-bottom: 8px;
  }
}
.form-buttons {
  width: 10px;
  display: flex;
}
.form-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-bottom: solid 1px white;
}

.main-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n) {
  justify-content: end;
}

.user-input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.user-input-box label {
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input {
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}
.choose-taxi {
  margin-bottom: 20px;
  width: 100%;
}

.choose-taxi label {
  display: block;
  margin-bottom: 5px; /* Adjust margin as needed */
}

.choose-taxi select {
  height: 40px;
  width: 100%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.form-submit-btn {
  display: flex;
  justify-content: end;
}

.form-submit-btn input {
  font-size: 17px;
  padding: 8px;
  border: none;
  border-radius: 7px;
  color: rgb(0, 0, 0);
  background: rgba(242, 255, 1, 0.961);
}

.form-submit-btn input:hover {
  background: rgba(0, 255, 136, 0.7);
  color: rgb(255, 255, 255);
}

@media (max-width: 600px) {
  .container {
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .user-input-box {
    margin-bottom: 12px;
    width: 50%;
  }

  .user-input-box:nth-child(2n) {
    justify-content: space-between;
  }

  .main-user-info {
    max-height: 445px;
    overflow: auto;
  }

  .main-user-info::-webkit-scrollbar {
    width: 0;
  }
  .form-submit-btn {
    display: flex;
    justify-content: end;
  }
}

.choose-taxi select {
  height: 40px;
  width: 98%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
  margin-top: 5px;
}

.choose-taxi optgroup {
  font-weight: bold;
  color: #333;
}

.choose-taxi option {
  padding: 8px;
  font-size: 14px;
  color: #555;
}

.choose-taxi option:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
/* service-container */
#services-section {
  background-color: #f8f9fa; /* Set a background color for the services section */
  padding: 40px 0; /* Add some padding for spacing */
}

.section-title {
  text-align: center;
  font-size: 36px;
  color: #007bff; /* Set the title color */
}

.service-container {
  display: flex;
  justify-content: space-around;
  background-image: url('');
  background-position: center;
  object-fit: cover;
}

.service {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 530px;
  text-align: center;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.service-image-container {
  border-radius: 8px;
  height: 220px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.service:hover .service-image-container {
  transform: scale(1.1);
}
.service-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-container:hover .rental-image {
  transform: scale(1.1);
}

.description {
  margin-top: 10px;
  text-align: center;
}

.explore-button {
  padding: 10px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.explore-button:hover {
  background-color: #0056b3;
}

/* Gallery section */
.destinations-swiper {
  width: 80%;
  height: 70vh; /* Adjust this value based on your design preferences */
  overflow: hidden;
}
.destinations-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-title {
  text-align: center;
  margin: 20px 0;
  color: #0056b3;
}

.destinations-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.caption {
  position: absolute;
  top: 20px; /* Adjusted to position the caption at the top */
  left: 12%; /* Center the caption horizontally */
  transform: translateX(-50%); /* Adjust the position to the center */
  text-align: center;
  color: #fff;
  
  font-size: 29px;
  max-width: 80%; /* Limit the width of the caption */
  /* Add a semi-transparent background */
  padding: 10px; /* Add some padding for better visibility */
  border-radius: 8px;
  font-family: 'Rubik Doodle Triangles', system-ui;
  font-family: 'Satisfy', cursive;
}
@media (max-width: 600px) {
  .caption {
    position: absolute;
    top: 20px; /* Adjusted to position the caption at the top */
    left: 25%; /* Center the caption horizontally */
    transform: translateX(-50%); /* Adjust the position to the center */
    text-align: center;
    color: #fff;
    font-size: 19px;
    max-width: 80%; /* Limit the width of the caption */
    /* Add a semi-transparent background */
    padding: 10px; /* Add some padding for better visibility */
    border-radius: 8px;
  }
}
/* Footer section */

.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 25px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.copyright-panel {
  background-color: rgba(0, 0, 0, 0.2); /* Transparent black background */
  padding: 5px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.copyright-panel p {
  margin: 0;
  color: #fff; /* Set the text color */
}

/*responsive*/
@media(max-width: 767px){
h4{
  margin-left: 10px;
}
.social-links{
  margin-left: 10px;
}
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

