@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

*,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

/* Utility Classes */

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: #075785;
}

.underline {
  width: 4rem;
  height: 0.25rem;
  background-color: #0c4a6e;
  margin-bottom: 1.5rem;
}

/*--------------- Utility Classes ----------------------*/

.navbar {
  padding: 0;
  background-color: black;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
}

.navbar-collapse {
  flex-grow: 0;
  padding: 0;
}

.navbar a {
  color: #0c4a6e;
}

.navbar a:visited {
  color: #0c4a6e;
}

.hero-container {
  height: 40vh;
  background-image: url('../assets/sub-pages/packages/package-4.jpg');
  background-size: cover;
  background-position: center;
}

.hero-banner {
  width: 100%;
  margin-inline: auto;
  text-align: center;
  color: #0c4a6e;
}
.hero-punchline {
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 2rem;
}

.mini-description {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}

.hero-img-container {
  height: 100%;
}

.hero-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#book-now {
  width: 9rem;
}

/* About and Quick Book */
#explore-our-services {
  padding: 10px 20px;
}

#about-and-quick-book {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 2rem;
}

.about-title {
  color: #0c4a6e;
  padding-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 700;
  font-family: 'Salsa', cursive;
}

.about-description {
  letter-spacing: 1px;
  line-height: 2;
  color: #0367a1;
}

/* Services */
.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-title {
  margin-bottom: 0.75rem;
  color: #083149;
  font-weight: 600;
}

.service-text {
  color: black;
  line-height: 1.3;
}

.service-description {
  padding-top: 10px;
  font-size: 18px;
  line-height: 1.8;
  color: #0c4a6e;
}

.service-image {
  width: 100%;
  height: 300px;
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Reviews */

.reviews-swiper {
  width: 90%;
}

.reviews-slide {
  text-align: center;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  font-size: 18px;
  background-color: #f0f9ff;
  padding: 10px;
}

.review-text {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 15px;
  line-height: 2;
  color: #f0f9ff;
  background-color: #083149;
}

.reviewer-profile {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.picture {
  width: 120px;
  height: 120px;
  border: 10px solid #083149;
  border-radius: 50%;
  display: flex;
}

.picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.reviewer-name {
  color: #083149;
}

/* Tablet and Desktop View */
@media (min-width: 998px) {
  .hero-container {
    height: 70vh;
  }

  .hero-banner {
    width: 70%;
  }

  .hero-img-container {
    width: 50%;
    height: 100%;
  }

  #about-and-quick-book {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .about-description {
    padding-left: 5rem;
    width: 50%;
  }

  .welcome-container {
    width: 50%;
  }

  /* Services section */
  .service {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .service-action {
    width: 50%;
  }

  .service-image {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .service {
    width: 100%;
  }
}

.welcome-container {
  border-radius: 10px;
}

.welcome-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-button {
  margin-top: 12px;
  width: 8rem;
}

/* Gallery section */
.destinations-swiper {
  width: 100%;
  height: 80vh; /* Adjust this value based on your design preferences */
  overflow: hidden;
}
.destinations-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-title {
  text-align: center;
  margin: 20px 0;
  color: #0056b3;
}

.destinations-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  color: #fff;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  top: 5%;
  left: 10%;
}

/* Footer section */
.phone-numbers a {
  color: rgb(232, 232, 232);
}

.phone-numbers span {
  color: white;
}

.footer-distributed {
  background-color: #083149;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 20px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
}

.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3f71ea;
}

.footer-links a:hover {
  color: #3f71ea;
}

@media (max-width: 1200px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
