.cars {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.cars-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: white;
}

.car-card {
  width: 350px;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

.car-img-container {
  height: 60%;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.car-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.car-details {
  padding: 20px;
}

.car-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 15px; /* Adjusted margin-top */
  padding: 7px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.car-capacity,
.car-baggage {
  display: block;
  margin-bottom: 8px;
  font-size: 0.9em;
  padding: 7px;
}

.btn {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #f39c12;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 10px;
  margin-right: 10px; /* Adjusted margin-right */
}

.btn:hover {
  background-color: #e67e22;
}
